.quantity {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;

	width: 144px;
	height: 40px;
}


.btn {
	cursor: pointer;
	outline: none;
	border: none;

	transition: background 100ms;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;

	width: 32px;
	height: 40px;

	/* gray/95% */
	background: var(--gray-95);
	border-radius: 8px;


	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background-color: var(--red-95);

			svg rect {
				fill: var(--gray-white);
			}
		}
	}

	&:active {
		background-color: var(--red-80);

		svg rect {
			fill: var(--gray-white);
		}
	}

	&:disabled {
		background-color: var(--gray-95);

		svg rect {
			fill: var(--gray-white);
		}
	}

	svg rect {
		transition: fill 100ms;
	}
}

.input {
	width: 72px;
	text-align: center;
}