.content {
	display: flex;
	gap: 140px;
	margin-top: 24px;
	width: 100%;

	@media screen and (max-width: 1366px) {
		gap: 48px;
	}

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
}

.section {
	margin-bottom: 80px;
}