.filters {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 0px;
	gap: 12px;
}

.controls {
	margin-bottom: 24px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.sort {
	align-self: flex-end;
	min-width: 220px;
}