.menu {
	padding: 12px;
	border-radius: 16px;
	background-color: var(--gray-white);

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.list-wrap {
	display: flex;
	flex-direction: column;
	gap: 8px
}

.list-title {
	color: var(--gray-60);
	font-size: 18px;
	line-height: 150%;
	font-weight: 600;
}

.list {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.btn {
	width: 100%;
	justify-content: center;
}


.message {
	font-size: 16px;
	line-height: 150%;
	font-weight: 600;
	color: var(--gray-60);
	padding: 8px 12px;
}